*{
  border-radius: 30px;
  padding: 8px;
  text-align: center;
}
body{
  min-height: 100vh;
  transition: .5s;
}
img{
  margin: 0 auto;
  height: 200px;
  visibility: hidden;
 
}
.show{
 visibility: visible;
}
.mouseEvent {
  border: 6px solid salmon;
  width: 220px;
  position: absolute;
  left: 20%;
  transform: translateX(-50%);
  padding: 10px;
}
.themeContainer {
  height: 30px;
  width: 30px;
  cursor: pointer;
}
#dark {
  background-color: black;
}
#gold {
  background-color: gold;
}
#green {
  background-color: green;
}
.darkTheme{
  background:black;
  color: white;
}
.goldTheme{
  background-color: gold;
  color: white;
}
.greenTheme{
  background-color: green;
  color: white;
}